In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("test.csv", usecols=['X1','X2','X3','X4','X5','X6'])

In [16]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

In [21]:
#checking the unique categories in each column
for col in df.columns:
    print(f"{col} : {len(df[col].unique())} labels")

X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels
X6 : 12 labels

In [25]:
# finding the total number of labels in x1 columsn
df.X1.value_counts().sort_values(ascending=False).head(20)

Index(['aa', 's', 'l', 'b', 'v', 'r', 'i', 'a', 'c', 'o', 'w', 'u', 'z', 'e',
       'h', 'm', 'j', 'y', 't', 'n'],
      dtype='object', name='X1')

In [28]:
# making a list out of top 10 features
top_10 = [x for x in df.X1.value_counts().sort_values(ascending=False).head(10).index]
top_10

['aa', 's', 'l', 'b', 'v', 'r', 'i', 'a', 'c', 'o']

In [32]:
for label in top_10:
    df[label] = np.where(df['X1']==label, 1, 0)
df[['X1']+top_10].head(10)

   X1  aa  s  l  b  v  r  i  a  c  o
0   v   0  0  0  0  1  0  0  0  0  0
1   b   0  0  0  1  0  0  0  0  0  0
2   v   0  0  0  0  1  0  0  0  0  0
3   l   0  0  1  0  0  0  0  0  0  0
4   s   0  1  0  0  0  0  0  0  0  0
5  aa   1  0  0  0  0  0  0  0  0  0
6   b   0  0  0  1  0  0  0  0  0  0
7   s   0  1  0  0  0  0  0  0  0  0
8   l   0  0  1  0  0  0  0  0  0  0
9   v   0  0  0  0  1  0  0  0  0  0

In [33]:
# performing similar one hot encoding for all X1 to X6
def one_hot_top_x(df, variable, top_x_labels):
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

#reading the dataframe
data = pd.read_csv("test.csv",  usecols=['X1','X2','X3','X4','X5','X6'])

#encdding X1
one_hot_top_x(data, 'X1',top_10)
data.head(10)

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_l,X1_b,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,n,f,d,t,a,0,0,0,0,1,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,0,1,0,0,0,0,0,0
2,v,as,f,d,a,j,0,0,0,0,1,0,0,0,0,0
3,l,n,f,d,z,l,0,0,1,0,0,0,0,0,0,0
4,s,as,c,d,y,i,0,1,0,0,0,0,0,0,0,0
5,aa,ai,e,d,x,g,1,0,0,0,0,0,0,0,0,0
6,b,ae,d,d,x,d,0,0,0,1,0,0,0,0,0,0
7,s,ae,c,d,h,d,0,1,0,0,0,0,0,0,0,0
8,l,s,c,d,h,j,0,0,1,0,0,0,0,0,0,0
9,v,as,f,d,g,f,0,0,0,0,1,0,0,0,0,0